[submodule "pack/plugins/start/python-syntax"]
	path = pack/plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "pack/plugins/start/jedi-vim"]
	path = pack/plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "pack/plugins/start/syntastic"]
	path = pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/plugins/start/vim-pydocstring"]
	path = pack/plugins/start/vim-pydocstring
	url = https://github.com/heavenshell/vim-pydocstring.git
[submodule "pack/plugins/start/YouCompleteMe"]
	path = pack/plugins/start/YouCompleteMe
	url = git@github.com:ycm-core/YouCompleteMe.git
[submodule "pack/plugins/start/vim-prettier"]
	path = pack/plugins/start/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
[submodule "pack/plugins/start/DoxygenToolkit.vim"]
	path = pack/plugins/start/DoxygenToolkit.vim
	url = git@github.com:vim-scripts/DoxygenToolkit.vim.git
