[submodule "pack/plugins/start/python-syntax"]
	path = pack/plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "pack/plugins/start/jedi-vim"]
	path = pack/plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "pack/plugins/start/syntastic"]
	path = pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/plugins/start/YouCompleteMe"]
	path = pack/plugins/start/YouCompleteMe
	url = git@github.com:ycm-core/YouCompleteMe.git
[submodule "pack/plugins/start/vim-prettier"]
	path = pack/plugins/start/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
[submodule "pack/plugins/start/DoxygenToolkit.vim"]
	path = pack/plugins/start/DoxygenToolkit.vim
	url = git@github.com:vim-scripts/DoxygenToolkit.vim.git
[submodule "pack/plugins/start/ultisnips"]
	path = pack/plugins/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "pack/plugins/start/vim-snippets"]
	path = pack/plugins/start/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "pack/plugins/start/vim-jsx-pretty"]
	path = pack/plugins/start/vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty.git
[submodule "pack/plugins/start/vim-glsl"]
	path = pack/plugins/start/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule "pack/plugins/start/vim-cpp-enhanced-highlight"]
	path = pack/plugins/start/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "pack/plugins/start/vim-python-docstring"]
	path = pack/plugins/start/vim-python-docstring
	url = git@github.com:pixelneo/vim-python-docstring.git
[submodule "pack/plugins/start/vim-unreal"]
	path = pack/plugins/start/vim-unreal
	url = https://github.com/drichardson/vim-unreal.git
